<header class="header">
	<div class="header__container">
		<button type="button" class="header__icon icon-menu"><span></span></button>
		<div class="header__menu menu">
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__item"><a href="#" class="menu__link">About</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Interior</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Menu</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Bar</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Reserve</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Contacts</a></li>
				</ul>
			</nav>
		</div>
		<button type="button" class="header__logo">
			<img src="@img/icons/logo.svg" alt="Icon">
		</button>
		<div class="header__languages languages">
			<div class="languages__body">
				<a class="languages__link" href="#">rus</a>
				<span>/</span>
				<a class="languages__link" href="#">eng</a>
			</div>
		</div>
	</div>
</header>