@font-face {
	font-family: Andale;
	font-display: swap;
	src: url("../fonts/Andale-mono.woff2") format("woff2"), url("../fonts/Andale-mono.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Vetrino;
	font-display: swap;
	src: url("../fonts/Vetrino.woff2") format("woff2"), url("../fonts/Vetrino.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
