//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	width: 100%;

	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// padding-top: rem(55);
		@include adaptiveValue("padding-top", 55, 40, 1440, 360, 1);
	}

	// .header__icon

	&__icon {
	}

	// .header__menu

	&__menu {
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 5;
		@include adaptiveValue("width", 160, 77, 1440, 360, 1);
		opacity: 0;
		visibility: hidden;
		transition: all 0.6s ease 0s;
		img {
			width: 100%;
		}
		&._visible {
			opacity: 1;
			visibility: visible;
		}
		.menu-open & {
			opacity: 1;
			visibility: visible;
			transition: opacity 0.8s ease 0s;
		}
	}

	// .header__languages

	&__languages {
	}
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		width: 100%;
		@include adaptiveValue("height", 150, 100, 1440, 360, 1);
		background-color: rgba(209, 202, 186, 1);
		opacity: 0;
		transition: opacity 0.6s ease 0.3s;
		.menu-open & {
			opacity: 1;
			transition: opacity 0.3s ease 0s;
		}
	}

	// .menu__body

	&__body {
		position: fixed;
		top: -150%;
		left: 0;
		z-index: 1;

		display: flex;
		justify-content: center;

		width: 100%;
		height: 100%;

		background-color: rgba(209, 202, 186, 0.8);
		backdrop-filter: blur(5px);

		transition: top 0.7s ease 0s;
		.menu-open & {
			top: 0;
			overflow-y: auto;
		}
	}

	// .menu__list

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: rem(20);

		margin-top: rem(120);
		padding-top: rem(80);
		@media (max-width: em(900)) and (max-height: em(500)) {
			padding-top: rem(10);
		}
	}

	// .menu__item

	&__item {
		&:last-child {
			padding-bottom: rem(20);
		}
	}

	// .menu__link

	&__link {
		font-family: "Vetrino";
		@include adaptiveValue("font-size", 60, 43, 1440, 320, 1);
		line-height: math.div(65, 60);

		color: $stilettoColor;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.languages {
	// .languages__body

	&__body {
		position: relative;
		z-index: 5;
		display: flex;
		@include adaptiveValue("column-gap", 15, 10, 1440, 320, 1);
	}

	&__link {
		position: relative;
		@include adaptiveValue("font-size", 20, 18, 1440, 320, 1);
		line-height: math.div(22, 20);

		color: $stilettoColor;
		transition: transform 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				transform: translateY(-2px);
			}
		}
	}
	span {
		@include adaptiveValue("font-size", 20, 18, 1440, 320, 1);
		line-height: math.div(22, 20);
		color: $stilettoColor;
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: block;
	position: relative;
	@include adaptiveValue("width", 42, 26, 1440, 320, 1);
	@include adaptiveValue("height", 26, 20, 1440, 320, 1);
	cursor: pointer;
	z-index: 5;

	span,
	&::before,
	&::after {
		content: "";
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		@include adaptiveValue("height", 3, 2, 1440, 320, 1);
		background-color: $stilettoColor;
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
	span {
		top: calc(50% - rem(1));
	}
	.menu-open & {
		span {
			width: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}
}
