//====================================================================================================
.loader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url("@img/other/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	span {
		@include adaptiveValue("width", 140, 100, 1440, 320, 1);
		@include adaptiveValue("height", 140, 100, 1440, 320, 1);
		display: block;
		background-image: url("@img/icons/loader.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		animation: loader 3s linear 0s infinite;
	}
	._loaded & {
		opacity: 0;
		transition: opacity 0.3s ease 0s;
		span {
			animation: none;
		}
	}
}
.volume {
	position: absolute;
	@include adaptiveValue("bottom", 30, 10, 1440, 360, 1);
	left: 50%;
	z-index: 3;
	transform: translateX(-50%);
	width: rem(30);
	height: rem(30);

	background-image: url("@img/icons/volume.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	cursor: pointer;

	transition: opacity 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.7;
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 55%;
		transform: translateY(-50%) rotate(-45deg);
		width: 1.5px;
		height: 40px;
		background-color: $stilettoColor;

		transition: all 0.3s ease 0s;

		opacity: 0;
		visibility: hidden;
	}
	&._disabled {
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}
}

//========================================================================================================================================================
.page {
	// .page__backgrounds

	&__backgrounds {
	}

	// .page__book

	&__book {
	}
}
//========================================================================================================================================================

.backgrounds {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;

	// .backgrounds__clouds

	&__clouds {
	}

	// .backgrounds__line

	&__line {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.clouds {
	// .clouds__cloud

	&__cloud {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
//========================================================================================================================================================

.book {
	// .book__body

	&__body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	// .book__buttons

	&__buttons {
	}

	// .book__prevBtn

	&__prevBtn {
		left: 20%;
	}

	&__prevBtn,
	&__nextBtn {
		position: absolute;
		top: 20%;
		z-index: 10;

		width: rem(30);
		height: rem(30);

		background-image: url("@img/icons/arrow-circle.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		transition: transform 0.5s ease 0s;
	}
	// .book__nextBtn

	&__nextBtn {
		right: 20%;
		transform: rotate(180deg);
	}

	// .book__content

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100%;
	}

	&__papers {
		position: relative;
		width: 34vw;
		height: 63vh;
		transition: transform 0.5s ease 0s;
		filter: drop-shadow(-7px 7px 10px rgba(0, 0, 0, 0.2));
	}

	// .book__paper

	&__paper {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		perspective: 1500px;
	}

	// .book__front

	&__front {
		z-index: 2;
		backface-visibility: hidden;
		border-left: 3px solid powderblue;
	}

	&__front,
	&__back {
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		background-image: url("@img/other/paper-bg.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		border-radius: 15px;

		transform-origin: left;
		// transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		transition: transform 0.9s ease 0s;
		.flipped & {
			transform: rotateY(-180deg);
		}
	}

	// .book__front-content

	&__front-content {
	}

	// .book__back

	&__back {
		z-index: 1;
	}

	&__front-content,
	&__back-content {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .book__back-content

	&__back-content {
		transform: rotateY(180deg);
	}
}

#p1 {
	z-index: 3;
}

#p2 {
	z-index: 2;
}

#p3 {
	z-index: 1;
}

.front-content-1 {
	&__body {
	}
	&__image {
		@include adaptiveValue("width", 322, 176, 1440, 360, 1);
		img {
			width: 100%;
		}
	}
}

//====================================================================================================
@keyframes loader {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
